{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <hr>
        <h1 class="display-3">Bonjour !</h1>
        <hr>
        <p><a class="btn btn-primary btn-lg" href="/contactme" role="button">Nous contacter »</a></p>
      <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Sports</h2>
                <p>Lorem ipsum dolor sit amet, pri ne aliquando incorrupte. Vis ex eros laoreet, fugit scaevola principes eu his, vel meliore graecis fuisset te. Per fastidii . </p>
            </div>
            <div class="col-md-4">
                <h2>Jeux</h2>
                <p>fugit scaevola principes eu his, vel meliore graecis fuisset te. Per fastidii. </p>
            </div>
            <div class="col-md-4">
                <h2>Loisirs</h2>
                <p>Cum unum liber soleat te, soluta apeirian senserit te sit. Qui at habeo audire.</p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
